:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(112, 112, 112, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #5D87A8;
}
.navbar h1 {
  color: #5D87A8;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5D87A8;
  font-weight: bold;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.about-page p {
  margin-top: 8px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #5D87A8;
  border-radius: 5px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(93,135,168);
}

.blog-preview h2 {
  font-size: 20px;
  color: #5D87A8;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview button {
  background: #5D87A8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-preview .blog-author {
  margin-top: 10px;
  font-weight: bold;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #5D87A8;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #5D87A8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: end;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #5D87A8;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #5D87A8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}